[submodule "Theron"]
	path = Theron
	url = http://github.com/manojgudi/Theron.git
[submodule "Apology"]
	path = Apology
	url = http://github.com/manojgudi/Apology.git
[submodule "PMC"]
	path = PMC
	url = http://github.com/manojgudi/PMC.git
[submodule "grex"]
	path = grex
	url = http://github.com/manojgudi/grex.git
[submodule "gr36"]
	path = gr36
	url = http://github.com/manojgudi/gnuradio.git
